.new-episodes-list {
  padding: 0 20px;
  padding-top: 15px;
  min-width: 599px;

  >.mat-card {
    margin-bottom: 15px;

    .icon-lnk {
      text-decoration: none;
    }

    >.mat-card-header {
      img.mat-card-avatar {
        background-position: center !important;
        background-size: cover !important;
      }
    }
  }
}
