<div *ngFor="let season of seasons">
  <div md-line fxLayout="row">
    <div fxFlex="90" fxLayoutAlign="start center">{{ season.seasonNumber }} сезон ({{ season.episodes.length }} серий)</div>
    <div fxFlex="10" fxLayoutAlign="start center">
      <button  color="primary" md-icon-button (click)="toggleSeason(season)">
        <md-icon *ngIf="isSeasonVisible(season)">keyboard_arrow_up</md-icon>
        <md-icon *ngIf="!isSeasonVisible(season)">keyboard_arrow_down</md-icon>
      </button>
    </div>
  </div>

  <md-list *ngIf="isSeasonVisible(season)">
    <md-divider></md-divider>

    <md-list-item *ngFor="let episode of season.episodes">
      <div md-line fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="10">{{ episode.seasonNumber }}x{{ episode.episodeNumber }}</div>
        <div fxFlex="70">{{ episode.title }}</div>
        <div fxFlex="20">{{ episode.airDate.format('DD.MM.YYYY') }}</div>
      </div>
    </md-list-item>
  </md-list>
</div>
